/* <!-- ==========  Start Styling Portfolio Page ========== --> */

:root {
  --themes-color-1: #ff4235;
  --themes-color-2: #ff6f04;
  --themes-color-3: #249483;
  --themes-color-4: #0b52c0;
  --themes-color-5: #ff56b8;
  --body-color: #161516;
  --asid-color: #232123;
  --text-color: #faffff;
  --border-color: #2b2b2b;
}
.dark {
  --text-color: #161516;
  --body-color: #f1f7f7;
  --asid-color: #faffff;
  --border-color: #faffff;
}

.main__potofolio__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  padding-bottom: 50px;
}

.portofolio___project__1 {
  border: 5px solid var(--border-color);
  outline: none;
  border-radius: 15px;
  height: 300px;
  background-size: cover;
  background-position: top;
  transition: all 5s ease;
  overflow: hidden;
  z-index: 0;
  position: relative;
}
.main__content__home {
  min-height: 100vh;
  background-color: var(--body-color);
  padding-left: 270px;
  animation: scaleAnmi 1s ease-in-out forwards;
 
}


@keyframes scaleAnmi {
  from {
  left: 100vw;

  }
  to{
    left: 0;
  }
}
.main__content__home {
  min-height: 100vh;
  background-color: var(--body-color);
  padding-left: 270px;
  animation: scaleAnmi 1s ease-in-out forwards;
 
}
.main__content__home .active {
  z-index: 2;
  animation: scaleAnmi 1s ease;
}
@keyframes scaleAnmi {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
.img__scroll {
  background-image: url(../images/1.png);
}

.portofolio___project__1:hover {
  background-position: bottom;
}
.img__scroll_1 {
  background-image: url(../images/scroll\ 2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.img__scroll_2 {
  background-image: url(../images/apple.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.img__scroll_3 {
  background-image: url(../images/Phone.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img__scroll_4 {
  background-image: url(../images/web.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img__scroll_5 {
  background-image: url(../images/task.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.img__scroll_6 {
  background-image: url(../images/local\ storage.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.img__scroll_7 {
  background-image: url(../images/to\ do.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio__over__relay {
  outline: none;
  height: 300px;
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2s;
  background-color: rgba(0, 0, 0, 0.589);
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__over__relay h4 {
  font-size: 20px;
  color: var(--text-color);
}

.portfolio__over__relay p {
  font-size: 13px;
  color: var(--text-color);
}

.portfolio__links {
  margin-top: 20px;
}

.portfolio__over__relay .portfolio__links a {
  background-color: var(--themes-color-1);
  color: var(--text-color);
  padding: 10px;
  border-radius: 10px;
  margin-right: 15px;
}

.portofolio___project__1:hover .portfolio__over__relay {
  top: 0;
}

/* <!-- ==========  End Styling Portfolio Page ========== --> */

@media screen and (max-width: 480px) {
  .main__content__home {
    padding-left: 0px;
  }
  .menu__bottom {
    left: 30px;
    font-size: 30px;
    padding: 6px;
    display: block;
  }
  .menu__bottom i {
    font-size: 35px;
    padding: 7px;
  }
  .icone__terss {
    position: absolute;
    right: 100%;
    top: -15px;
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
    font-size: 25px !important;
}
.icon__dark__light {
  font-size: 25px !important;
    position: absolute;
    right: 100%;
    top: 50px;
  
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);

}
  .main__switcher__themes .colors {
    height: 45px !important;
  }
  .main__switcher__themes h4 {
    font-weight: bold;
  }
  .main-btn .btn-text {
    font-size: 20px;
  }

  .main-btn .btn-icon {
    padding: 20px;
    font-size: 25px;
  }
  .logo a {
    font-size: 40px;
  }
  .ul__menu li a {
    font-size: 20px;
  }
  .ul__menu li {
    margin-bottom: 40px;
  }
  .main__aside {
    left: -270px;
    z-index: 1000;
  }
  
.main__potofolio__content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  width: 100%;
  padding-bottom: 50px;
}

.portfolio__over__relay h4 {
  font-size: 30px;
  text-align: center;

  color: var(--text-color);
}

.portfolio__over__relay p {
  font-size: 23px;
  text-align: center;
  color: var(--text-color);
}
.portfolio__over__relay .portfolio__links a {
  font-size: 20px;
}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .main__content__home {
    padding-left: 0px;
  }
  .menu__bottom {
    left: 30px;
    font-size: 30px;
    padding: 6px;
    display: block;
  }
  .menu__bottom i {
    font-size: 35px;
  }
  .icone__terss {
    position: absolute;
    right: 100%;
    top: -15px !important;
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
    font-size: 27px !important;

}
.icon__dark__light {
    font-size: 27px !important;
    position: absolute;
    right: 100%;
    top: 50px;
  
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
}
  .main__switcher__themes .colors {
    height: 45px !important;
  }
  .main__switcher__themes h4 {
    font-weight: bold;
  }
  .main-btn .btn-text {
    font-size: 20px;
  }

  .main-btn .btn-icon {
    padding: 20px;
    font-size: 25px;
  }
  .logo a {
    font-size: 40px;
  }
  .ul__menu li a {
    font-size: 24px;
  }
  .ul__menu li {
    margin-bottom: 40px;
  }
  .main__aside {
    left: -270px;
    z-index: 1000;
  }
  
.main__potofolio__content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  width: 100%;
  padding-bottom: 50px;
}

.portfolio__over__relay h4 {
  font-size: 35px;
  text-align: center;

  color: var(--text-color);
}

.portfolio__over__relay p {
  font-size: 26px;
  text-align: center;
  color: var(--text-color);
}
.portfolio__over__relay .portfolio__links a {
  font-size: 25px;
}
}
@media screen and (min-width: 767px) and (max-width: 992px){
  .main__content__home {
    padding-left: 0px;
  }
  .menu__bottom {
    left: 30px;
    font-size: 30px;
    padding: 6px;
    display: block;
  }
  .menu__bottom i {
    font-size: 35px;
  }
  .icone__terss {
    position: absolute;
    right: 100%;
    top: -15px !important;
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
    font-size: 35px !important;

}
.icon__dark__light {
  font-size: 35px !important;
    position: absolute;
    right: 100%;
    top: 50px;
  
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
}
  .main__switcher__themes .colors {
    height: 45px !important;
  }
  .main__switcher__themes h4 {
    font-weight: bold;
  }
  .main-btn .btn-text {
    font-size: 20px;
  }

  .main-btn .btn-icon {
    padding: 20px;
    font-size: 25px;
  }
  .logo a {
    font-size: 40px;
  }
  .ul__menu li a {
    font-size: 24px;
  }
  .ul__menu li {
    margin-bottom: 40px;
  }
  .main__aside {
    left: -270px;
    z-index: 1000;
  }
  
.main__potofolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  padding-bottom: 50px;
}

.portfolio__over__relay h4 {
  font-size: 35px;
  text-align: center;

  color: var(--text-color);
}

.portfolio__over__relay p {
  font-size: 26px;
  text-align: center;
  color: var(--text-color);
}
.portfolio__over__relay .portfolio__links a {
  font-size: 25px;
}
}
@media screen and (min-width: 993px) and (max-width: 1024px){
  .main__content__home {
    padding-left: 0px;
  }
  .menu__bottom {
    left: 30px;
    font-size: 30px;
    padding: 6px;
    display: block;
  }
  .menu__bottom i {
    font-size: 35px;
  }
  .icone__terss {
    position: absolute;
    right: 100%;
    top: -15px !important;
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
    font-size: 37px !important;

}
.icon__dark__light {
  font-size: 37px !important;
    position: absolute;
    right: 100%;
    top: 50px;
  
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
}
  .main__switcher__themes .colors {
    height: 45px !important;
  }
  .main__switcher__themes h4 {
    font-weight: bold;
  }
  .main-btn .btn-text {
    font-size: 20px;
  }

  .main-btn .btn-icon {
    padding: 20px;
    font-size: 25px;
  }
  .logo a {
    font-size: 40px;
  }
  .ul__menu li a {
    font-size: 25px;
  }
  .ul__menu li {
    margin-bottom: 40px;
  }
  .main__aside {
    left: -270px;
    z-index: 1000;
  }
  
.main__potofolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  padding-bottom: 50px;
}

.portfolio__over__relay h4 {
  font-size: 35px;
  text-align: center;

  color: var(--text-color);
}

.portfolio__over__relay p {
  font-size: 26px;
  text-align: center;
  color: var(--text-color);
}
.portfolio__over__relay .portfolio__links a {
  font-size: 25px;
}
}