* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --themes-color-1: #ff4235;
  --themes-color-2: #ff6f04;
  --themes-color-3: #249483;
  --themes-color-4: #0b52c0;
  --themes-color-5: #ff56b8;
  --body-color: #161516;
  --asid-color: #232123;
  --text-color: #faffff;
  --border-color: #2b2b2b;
}
.dark {
  --text-color: #161516;
  --body-color: #f1f7f7;
  --asid-color: #faffff;
  --border-color: #faffff;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.main__content__home {
  min-height: 100vh;
  background-color: var(--body-color);
  padding-left: 270px;
  animation: scaleAnmi 1s ease-in-out forwards;
 
}


@keyframes scaleAnmi {
  from {
  left: 100vw;

  }
  to{
    left: 0;
  }
}
.main__content__home {
  min-height: 100vh;
  background-color: var(--body-color);
  padding-left: 270px;
  animation: scaleAnmi 1s ease-in-out forwards;
 
}


@keyframes scaleAnmi {
  from {
  left: 100vw;

  }
  to{
    left: 0;
  }
}
.main__content__home {
  min-height: 100vh;
  background-color: var(--body-color);
  padding-left: 270px;
  animation: scaleAnmi 1s ease-in-out forwards;
 
}
.main__content__home .active {
  z-index: 2;
  animation: scaleAnmi 1s ease;
}
@keyframes scaleAnmi {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.btn-container {
  display: flex;
  align-self: flex-start;
  margin-bottom: 100px;
}

.main-btn {
  border-radius: 30px;
  position: relative;
  font-weight: 600;
  color: var(--text-color);
  border: 1px solid var(--themes-color-1);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--themes-color-1);
  transform: translateX(0);
}
.main__content__home {
  min-height: 100vh;
  background-color: var(--body-color);
  padding-left: 270px;
}

.main__content__home{
  transition: 1s;
  opacity: 1;
}
html.is-animating .main__content__home {
  opacity: 0;
}
.main-btn .btn-text {
  padding: 0 2rem;
  z-index: 1;
}

.main-btn .btn-icon {
  background-color: var(--themes-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  z-index: 1;
}

.section_margin-top {
  margin-top: 100px;
}

.main__content__home {
  min-height: 100vh;
  background-color: var(--body-color);
  padding-left: 270px;
}

.main__container {
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}

/* <!-- ==========  Start Styling AsideBar ========== --> */
/* 
.main__aside {
  background-color: var(--asid-color);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 100%;
  border-right: 3px solid var(--border-color);
} */

.main__aside .logo {
  position: absolute;
  top: 70px;
  padding: 20px;
  text-transform: capitalize;
}

.logo a {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 5px;
  color: var(--text-color);
}

.logo a span {
  color: var(--themes-color-1);
  font-size: 40px;
  font-family: "Clicker Script", cursive;
}

.logo::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 0;
  border-top: 5px solid var(--themes-color-1);
  border-right: 5px solid var(--themes-color-1);
}

.logo::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-left: 5px solid var(--themes-color-1);
  border-bottom: 5px solid var(--themes-color-1);
}

.ul__menu {
  margin-top: 150px;
}

.ul__menu li {
  margin-top: 25px;
  display: block;
}

.ul__menu li a i {
  margin-right: 20px;
}

.ul__menu li a {
  border-bottom: 1px solid #2b2b2b;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
  display: block;
  color: var(--text-color);
}

.ul__menu li .active {
  color: var(--themes-color-1);
}

/* <!-- ==========  End Styling AsideBar ========== --> */

/* <!-- ==========  Start Menu Bars ========== --> */

.menu__bottom {
  font-size: 20px;
  position: fixed;
  color: var(--themes-color-1);
  top: 50px;
  left: 300px;
  z-index: 30000;
  background-color: var(--asid-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s;
}

/* <!-- ==========  End Menu Bars ========== --> */
h2 {
  margin-top: 0;
}

.title h2 {
  color: var(--text-color);
  font-size: 45px;
  font-weight: 700;
  position: relative;
  padding-top: 50px;
}

.title h2::after {
  content: "";
  height: 6px;
  width: 80px;
  background-color: var(--themes-color-1);
  position: absolute;
  bottom: -20px;
  left: 0;
}

.title h2::before {
  content: "";
  height: 6px;
  width: 40px;
  background-color: var(--themes-color-1);
  position: absolute;
  bottom: -35px;
  left: 0;
}

.service_1 {
  border: 2px solid var(--border-color);
  text-align: center;
  padding: 40px;
  transition: all 0.5s ease;
}

.service_1:hover {
  -webkit-transform: translateY(-6px);
  transform: translateY(-30px);
  border: 2px solid #524e4e;
}

.service_1 h4 {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
}

.main__content__services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding-bottom: 50px;
}

.service_1 .img_service img {
  width: 100px;
}
@media screen and (max-width: 480px) {
  .icone__terss {
    position: absolute;
    right: 100%;
    top: -15px !important;
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
    font-size: 25px !important;
}
.icon__dark__light {
  font-size: 25px !important;
    position: absolute;
    right: 100%;
    top: 50px;
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
}
  .main__content__home {
    padding-left: 0px;
  }
  .menu__bottom {
    left: 30px;
    font-size: 30px;
    padding: 6px;
    display: block;
  }
  .menu__bottom i {
    font-size: 35px;
    padding: 12px;
  }
  .main__switcher__themes .colors {
    height: 45px !important;
  }
  .main__switcher__themes h4 {
    font-weight: bold;
  }
  .main-btn .btn-text {
    font-size: 20px;
  }

  .main-btn .btn-icon {
    padding: 20px;
    font-size: 25px;
  }
  .logo a {
    font-size: 40px;
  }
  .ul__menu li a {
    font-size: 20px;
  }
  .ul__menu li {
    margin-bottom: 40px;
  }
  .main__aside {
    left: -270px;
    z-index: 1;
  }
  .main__content__services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    padding-bottom: 50px;
  }

  .service_1 h4 {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 1000;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .main__content__home {
    padding-left: 0px;
  }
  .menu__bottom {
    left: 30px;
    font-size: 30px;
    padding: 6px;
    display: block;
  }
  .menu__bottom i {
    font-size: 35px;
    padding: 12px;
  }
  .icone__terss {
    position: absolute;
    right: 100%;
    top: -15px;
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
    font-size: 25px !important;
}
.icon__dark__light {
  font-size: 25px !important;
    position: absolute;
    right: 100%;
    top: 50px;
  
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);

}
  .main__switcher__themes .colors {
    height: 45px !important;
  }
  .main__switcher__themes h4 {
    font-weight: bold;
  }
  .main-btn .btn-text {
    font-size: 20px;
  }

  .main-btn .btn-icon {
    padding: 20px;
    font-size: 25px;
  }
  .logo a {
    font-size: 40px;
  }
  .ul__menu li a {
    font-size: 24px;
  }
  .ul__menu li {
    margin-bottom: 40px;
  }
  .main__aside {
    left: -270px;
    z-index: 1;
  }
  .main__content__services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    padding-bottom: 50px;
  }

  .service_1 h4 {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 800;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px){
  .main__content__home {
    padding-left: 0px;
  }
  .menu__bottom {
    left: 30px;
    font-size: 30px;
    padding: 6px;
    display: block;
  }
  .menu__bottom i {
    font-size: 35px;
    padding: 12px;
  }
  .icone__terss {
    position: absolute;
    right: 100%;
    top: -15px !important;
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
    font-size: 35px !important;

}
.icon__dark__light {
  font-size: 35px !important;
    position: absolute;
    right: 100%;
    top: 50px;
  
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
}
  .main__switcher__themes .colors {
    height: 45px !important;
  }
  .main__switcher__themes h4 {
    font-weight: bold;
  }
  .main-btn .btn-text {
    font-size: 20px;
  }

  .main-btn .btn-icon {
    padding: 20px;
    font-size: 25px;
  }
  .logo a {
    font-size: 40px;
  }
  .ul__menu li a {
    font-size: 24px;
  }
  .ul__menu li {
    margin-bottom: 40px;
  }
  .main__aside {
    left: -270px;
    z-index: 1000;
  }
  .main__content__services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-bottom: 50px;
  }

  .service_1 h4 {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 800;
  }
}
@media screen and (min-width: 993px) and (max-width: 1024px){
  .main__content__home {
    padding-left: 0px;
  }
  .menu__bottom {
    left: 30px;
    font-size: 30px;
    padding: 6px;
    display: block;
  }
  .menu__bottom i {
    font-size: 35px;
    padding: 12px;
  }
  .icone__terss {
    position: absolute;
    right: 100%;
    top: -15px !important;
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
    font-size: 37px !important;

}
.icon__dark__light {
  font-size: 37px !important;
    position: absolute;
    right: 100%;
    top: 50px;
  
    margin-right: 50px;
    cursor: pointer;
    color: var(--text-color);
}
  .main__switcher__themes .colors {
    height: 45px !important;
  }
  .main__switcher__themes h4 {
    font-weight: bold;
  }
  .main-btn .btn-text {
    font-size: 20px;
  }

  .main-btn .btn-icon {
    padding: 20px;
    font-size: 25px;
  }
  .logo a {
    font-size: 40px;
  }
  .ul__menu li a {
    font-size: 25px;
  }
  .ul__menu li {
    margin-bottom: 40px;
  }
  .main__aside {
    left: -270px;
    z-index: 1000;
  }
  .main__content__services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-bottom: 50px;
  }

  .service_1 h4 {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 800;
  }
}

